@font-face {
    font-family: 'Warframe';
    src: url(fonts/Audiowide-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;

}

header .logo img {
    height: 70px;
    width: auto;    
}

header .links li {
    display: inline-block;
    padding: 0 20px;

}

ul {
    list-style: none;
}

.contenedor {
    display: flex;
    background-image: url(https://media0.giphy.com/media/gb0KYWKWUCUX8HjHp8/giphy.gif?cid=ecf05e47oxjrm8morpcr2ur5gzf1zhsnbctnwgr6i1ulva2m&rid=giphy.gif&ct=g);
    background-position: center center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h1 {
    font-family: 'Warframe';
    color: rgb(255, 255, 255);
    font-size: 100px;
}

p {
    padding: 0 400px;
    color: white;
}

button {
    border: none;
    padding: 12px 50px;
    background-color: white;
}